/* 505160: dark grey
 * 68829e: lighter grey
 * aebd38: moss green
 * 598234: deeper green
 */
 .Logo {
   display: flex;
   justify-content: space-around;
   align-items: center;
 }

.Picture {
  width: 150px;
  height: auto;
}
