/* 505160: dark grey
 * 68829e: lighter grey
 * aebd38: moss green
 * 598234: deeper green
 */



.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
